*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background-color: #929292;
}
header
{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}
nav 
{
    background-color: #929292;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}
nav > a
{
    text-decoration: none;
    margin-left: 10px;
}
nav > a::before
{
    text-decoration: underline;
}
main
{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 0 10px;
}
aside
{
    text-align: right;
}
footer
{
    background-color: black;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}
div#bola
{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
}