ul{
    background-color: black;
    padding: 20px;
}
li{
    display: inline-block;
}
.login{
    float: right;
}
.login a:hover{
    background-color: lightcoral;
    color: black;
}
li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    
}
li a:hover{
    background-color: lightseagreen;
    color: black;
}

div{
    border: 1px solid black;
    overflow: auto;
}
div img{
    width: 250px;
    float: left;
    margin-right: 20px;
}
div h3{
    clear: both;
}